@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
     font-style: normal;
}
.colorP{
  color: #5C57F5;
}
.linkFont{
  font-size: 14px;
}
.homeMain{
  height: 100vh;
 
}
.sideBarMain{
background-color: #f0f0ff;}